snippet lorem
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
endsnippet

snippet asciinema
<figure><asciinema-player src="$1" font-size="large" cols="58" rows="15"></asciinema-player><figcaption>$2</figcaption></figure>
endsnippet

