[alias]
    pom = push origin master
    stat = status
    purr = pull --rebase
    unfuck = reset HEAD --hard

    # use to add files that your forgot
    ohyeah = commit --amend -C HEAD
    hist = log -n 25 --pretty=format:'%ad | %Cblue%h%Creset%C(auto) : %<(47,trunc)%s  : %C(yellow)%an%Creset%C(auto)' --graph --date=format:'%b %Y' --decorate

    # list files which have changed
    files = !git diff --name-only $(git merge-base HEAD master)
    search = log -n 5 --oneline -S

[merge]
    ff = only

[push]
    default = simple

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = Marcus Kazmierczak
	email = marcus@mkaz.com

[github]
    user = mkaz

[fetch]
    prune = true

[init]
	defaultBranch = trunk
