snippet #!
    #!/usr/bin/env python3


    def main():
        pass


    if __name__ == "__main__":
        main()

snippet match
    match ${1:expression}:
        case ${2:pattern_1}:
            ${3:pass}
        case ${4:pattern_2}:
            ${5:pass}
        case _:
            ${6:pass}

snippet with
    with open("${1:filename}") as f:
        for line in f:
            ${2:pass}

