
.icon-font-before.icon-brand-insider-solid-before {
    display: none;
}


body.story article figure.video {
    display: none;
}

li.menu-nfl {
    display: none;
}

.now-feed-content {
    display: none;
}
