/* Minimalist Hacker News based off: https://github.com/robmcguinness/hackernews-userstyle */

body {
  margin: 32px;
  font-size: 18px;
  background: white; 
}

tr.spacer { height: 16px !important; }

/* Top Table */
body > center > table > tbody > tr:first-child > td > table td {
    padding-bottom: 8px;
    border-bottom: 2px solid #FF6600;
}

.pagetop {
  font-family: "Open Sans", "Trebuchet Ms", Helvetica, sans-serif;
  font-size: 14px;
}

.pagetop a {
  color: #696969 !important;
}

.pagetop a:visited {
  color: #7E7E7E;
}

.pagetop b.hnname {
    font-size: 18px;
    margin-left: 4px;
    margin-right: 36px;
}

.comment {
    font-size: 16px;
    font-family: "Cambria";
}

a {
  font-weight: normal;
}

a:link {
  color: #555;
}

a:hover {
  text-decoration: underline;
}

table {
    background-color: white;
}

table#hnmain {
    max-width: 920px;
    margin: 0 auto;
}

table.itemlist {
  margin: 20px 0;
}

.title {
  font-family: "Cambria";
  font-size: 18px;
  color: #696969;
}

.title > a {
  font-weight: normal;
  color: #D43900;
}

.title > a:visited {
  color: #7E7E7E;
  font-weight: normal !important;
}


.votearrow { display: none; }

.rank { margin-right: 8px;