/* ==UserStyle==
@name           Hacked News
@namespace      mkaz
@version        v2
==/UserStyle== */
@-moz-document url-prefix("https://news.ycombinator.com/") {

/* Header System Fonts */
input, textarea, .pagetop {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

/* Main Article Fonts */
body, td, table {
    font-family: "IBM Plex Serif", serif;
    font-weight: 300;
    font-size: 14px;
}

body {
    background: white;
    margin: 0;
    padding: 0;
}
    
.title,
.sitebit,
.subtext {
    font-family: inherit;
    font-size: inherit;
    text-align: left;
    position: relative;
}

.pagetop,
.pagetop a {
    color: rgba(0, 0, 0, 0.5);
}

.spacer,
span.pagetop b,
.brandname,
.hnname,
.rank,
.votearrow,
#hnmain > tbody > tr:last-child img,
#hnmain > tbody > tr > td[bgcolor] > table tbody tr td:first-child a img {
    display: none !important;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

#hnmain {
    max-width: 800px;
}

#hnmain,
#hnmain > tbody > tr > td,
#hnmain > tbody > tr:last-child table td {
    background: transparent;
}

#hnmain > tbody > tr > td[bgcolor] > table {
  padding: 0 0 20px 0 !important;
}


#hnmain > tbody > tr > td[bgcolor] > table tbody tr td:first-child a {
  background: #F06D3C;
  color: #fff;
  height: 50px;
  line-height: 50px;
  width: 50px;
  display: block;
  text-align: center;
}

#hnmain > tbody > tr > td[bgcolor] > table tbody tr td:first-child a:after {
    content: "HN";
    font-family: "Arial Black", sans-serif;
    font-size: 20px;
    font-weight: 700;
}

#hnmain > tbody > tr > td[bgcolor] > table tbody tr td:nth-child(2) .pagetop {
  color: #fafafa;
  padding-left: 10px;
  font-size: 14px;
}

#hnmain > tbody > tr > td[bgcolor] > table tbody tr td .pagetop {
  font-size: 14px;
}

#hnmain > tbody > tr > td[bgcolor] > table tbody tr td .pagetop a:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 2px;
}

.itemlist {
  width: 100%;
}

.athing + tr .subtext {
  position: relative;
}

.athing + tr .subtext {
  padding-bottom: 8px;
}

.athing td {
  padding-top: 8px;
}

.athing .title:first-child {
  padding-left: 20px;
}

.athing .title a:link,
.athing .title a:visited {
  color: rgba(0, 0, 0, 0.9);
  font-size: 16px;
}

/* Website URL */
.athing .title .comhead,
.athing .title .comhead a:link {
    font-size: 11px;
    color: rgba(0, 0, 0, 0.4);
}

.athing .title .comhead {
    margin-left: 4px;
}

.athing .title .comhead a:link {
    padding: 0 2px;
}
    
.subtext {
  color: rgba(0, 0, 0, 0.5);
}

.subtext a:link,
.subtext a:visited {
  color: rgba(0, 0, 0, 0.5) !important;
}

.subtext a:hover {
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 2px;
}

.comment-tree .default .comhead {
  font-size: 14px !important;
  color: rgba(0,0,0,0.5);
}

.comment-tree .comment {
  font-size: 14px !important;
  color: rgba(0,0,0,0.5);
  line-height: 1.42em;
}

#hnmain table {
  width: 100%;
}

#hnmain form textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.05);
  font-weight: 400;
  font-size: 14px;
  padding: 10px;
  outline: none;
}

#hnmain form input[type=submit]{
  border: solid 1px #F06D3C;
  height: 32px;
  background: transparent;
  border-radius: 32px;
  padding: 0 12px;
  color: #F06D3C;
  cursor: pointer;
}

.itemlist tr:last-child .title {
  padding: 10px 0;
}

.itemlist tr:last-child .title a {
  border: solid 1px #F06D3C;
  height: 32px;
  line-height: 32px;
  background: transparent;
  border-radius: 32px;
  padding: 0 12px;
  color: #F06D3C;
  display: inline-block;
}

td.ind {
  width: 0px;
}

td.votelinks {
  width: 0px;
}

}