
div[aria-label="Share Tweet"],
a[aria-label="Search and explore"],
a[aria-label="Bookmarks"],
a[aria-label="Lists"],
a[aria-label="Tweet"],
div[aria-label="More menu items"],
div[data-testid="placementTracking"],
aside[aria-label="Who to follow"],
div[aria-label="Timeline: Trending now"] {
    display: none !important;
}


/* meta bar */
a[aria-label="View Tweet activity"],
div[aria-label="Share Tweet"],
div[data-testid="retweet"],
div[data-testid="like"],
div[data-testid="reply"] {
    display: none !important;
}

article {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}



